<style>
  .card-img{
    width: 70%;
    margin-left: 15%;
    height: 50%; 
  }
</style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style=" text-align: center;">
      Saúde
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-card>
    <img alt="Silhouette of mountains" src="../.././assets/img/cobra-cascavel.jpg" class="card-img"/>
    <ion-card-header>
      <ion-card-title>Veneno de Cascavel Pode Ter Esperança para Esclerose Múltipla</ion-card-title>
      <ion-card-subtitle style=" color:#fffbfb">Estudo brasileiro encontra potencial no veneno da serpente para combater doença.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style=" color:#c9c6c6">
      Cientistas brasileiros descobriram que o veneno da cascavel pode ter propriedades promissoras no tratamento da esclerose múltipla.

Em estudo publicado na revista "Toxins", a molécula CT1 do veneno da serpente demonstrou a capacidade de reduzir a inflamação e a desmielinização, dois processos patológicos da doença.

Experimentos em laboratório mostraram que a CT1 inibe a ativação de células do sistema imunológico que atacam a mielina, protetora dos neurônios.

Isso resultou em menos inflamação e desmielinização, sintomas da esclerose múltipla.

Mais pesquisas são necessárias para avaliar a segurança e a eficácia da CT1 em humanos.

A descoberta abre caminho para novos tratamentos para a doença autoimune que afeta o sistema nervoso central.
    </ion-card-content>
  </ion-card>

  <br> 

  <ion-card>
    <img alt="Silhouette of mountains" src="../.././assets/img/medicamentos.jpg" class="card-img"/>
    <ion-card-header>
      <ion-card-title> Descoberta de novo medicamento!</ion-card-title>
      <ion-card-subtitle style=" color:#fffbfb"> Descoberta de novo medicamento para tratamento do câncer de mama: </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style=" color:#c9c6c6">
      Cientistas anunciam a descoberta de um novo medicamento que demonstra grande potencial no tratamento do câncer de mama. 
      O medicamento ainda está em fase de testes, mas os resultados preliminares são animadores.
    </ion-card-content>
  </ion-card>
</ion-content>
