<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title style=" text-align: center;">
        Ion noticias
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" style=" text-align: center;">

    <h2>Inicio</h2>
  
    <p style=" color:#c9c6c6">O Ion Notícias é um portal de notícias online que oferece uma cobertura abrangente e imparcial dos eventos mais importantes do Brasil e do mundo. Nossa equipe de jornalistas experientes e dedicados trabalha incansavelmente para fornecer aos nossos leitores as últimas notícias, análises aprofundadas e entrevistas exclusivas.</p>
   </ion-content>

