<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ciências:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../.././assets/img/geleiras.jpg"/>
    <ion-card-header>
      <ion-card-title> Mudanças Climaticas</ion-card-title>
      <ion-card-subtitle style=" color:#fffbfb"> Acordo histórico promete combater as mudanças climáticas </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style=" color:#c9c6c6">
      Líderes mundiais se reúnem na ONU para assinar um acordo ambicioso de combate às mudanças climáticas.
       O acordo estabelece metas rígidas para a redução das emissões de gases de efeito estufa e prevê investimentos maciços em energias renováveis.
    </ion-card-content>
  </ion-card>
</ion-content>
